Libraries Used

In [1]:
import numpy as np
import pandas as pd
import sqlite3
from xml.dom import minidom
import xml.etree.ElementTree as et
from xml.etree.ElementTree import Element
from xml.etree.ElementTree import ElementTree

In [72]:
arr = df.columns.values
def convertToXml(df,filename):
    root = minidom.Document()
    xml = root.createElement("root")
    root.appendChild(xml)
    l = len(df.index)
    s = pd.Series(df.columns.values, name='x')
    for i in range(0,l):
            productChild = root.createElement('product')
            xml.appendChild(productChild)
            row = df.loc[i]
            for j in range(0,4):
                tagname = arr[j]
                tagvalue =str(row[j])
                childOfProduct = root.createElement(tagname)
                childOfProduct.appendChild(root.createTextNode(tagvalue))
                productChild.appendChild(childOfProduct)
                
    xml_str = root.toprettyxml(indent="\t")
    with open(filename+".xml","w") as f:
         f.write(xml_str)
def transferfromXmlToDb(filename,dbfile):
    tree = et.parse(filename+".xml")
    root = tree.getroot()
    conn = sqlite3.connect(dbfile+'.db')
    c = conn.cursor()
    for child in root :
        if child.tag == 'product' :
            list3=[] 
            for attr in child :
#                 if attr.tag == 'a':
#                     a = attr.text
#                 if attr.tag == 'b':
#                     b = attr.text
#                 if attr.tag == 'c':
#                     l = attr.text
#                 if attr.tag == 'd':
#                     d = attr.text
                list3.append(attr.text)
               # print(list3)
        c.execute("insert into " + dbfile + " values (" + ('?,' * len(list3))[:-1] + ")",list3)
            #c.execute("INSERT INTO {} VALUES ('{}','{}','{}','{}')".format(dbfile,a,b,l,d))
        conn.commit()

    conn.close()
def createSchema(dbname):
    conn = sqlite3.connect(dbname+'.db')
    c = conn.cursor()
    query = "Create table {} (".format(dbname);
    length = len(arr)
    i = 0
    for i in  range(length - 1) :
        query = query + arr[i] + ' text,'
        
    query = query + arr[length-1] + ' text)'
    print(query)
    c.execute(query)
#     create query = 
#     c.execute("""CREATE TABLE {}(
#             a text,
#             b text,
#             c text,
#             d text
#             )""".format(dbname))
    conn.commit()
    conn.close()
def checkDb(dbname):
    conn = sqlite3.connect(dbname+'.db')
    c = conn.cursor()
    #c.execute("INSERT INTO employees VALUES ('9','122','11','12')")
    c.execute("SELECT * FROM {}".format(dbname))
    print(c.fetchall())
    conn.commit()
    conn.close()

In [68]:
#df = pd.read_excel('kyphosis.xlsx')
df = pd.read_csv('kyphosis.csv')

Displaying data of excel/csv file

In [69]:
df

   Kyphosis  Age  Number  Start
0    absent   71       3      5
1    absent  158       3     14
2   present  128       4      5
3    absent    2       5      1
4    absent    1       4     15
5    absent    1       2     16
6    absent   61       2     17
7    absent   37       3     16
8    absent  113       2     16
9   present   59       6     12
10  present   82       5     14
11   absent  148       3     16
12   absent   18       5      2
13   absent    1       4     12
14   absent  168       3     18
15   absent    1       3     16
16   absent   78       6     15
17   absent  175       5     13
18   absent   80       5     16
19   absent   27       4      9
20   absent   22       2     16
21  present  105       6      5
22  present   96       3     12
23   absent  131       2      3
24  present   15       7      2
25   absent    9       5     13
26   absent    8       3      6
27   absent  100       3     14
28   absent    4       3     16
29   absent  151       2     16
..      ...  ...     ...    ...
51   absent    9       2     17
52  present  139      10      6
53   absent    2       2     17
54   absent  140       4     15
55   absent   72       5     15
56   absent    2       3     13
57  present  120       5      8
58   absent   51       7      9
59   absent  102       3     13
60  present  130       4      1
61  present  114       7      8
62   absent   81       4      1
63   absent  118       3     16
64   absent  118       4     16
65   absent   17       4     10
66   absent  195       2     17
67   absent  159       4     13
68   absent   18       4     11
69   absent   15       5     16
70   absent  158       5     14
71   absent  127       4     12
72   absent   87       4     16
73   absent  206       4     10
74   absent   11       3     15
75   absent  178       4     15
76  present  157       3     13
77   absent   26       7     13
78   absent  120       2     13
79  present   42       7      6
80   absent   36       4     13

[81 rows x 4 columns]

In [70]:
#convertToXml(df,<xml file name to be created>)
convertToXml(df,"kyphosisCheck")

In [73]:
#createSchema(table name to be created)
createSchema("kyphosisNew")

Create table kyphosisNew (Kyphosis text,Age text,Number text,Start text)

In [75]:
#transferfromXmlToDb(<xml file name>,<table name>)
transferfromXmlToDb("kyphosisCheck","kyphosisNew")

In [83]:
#checkDb("db table name")
checkDb("kyphosisNew")

[('absent', '71', '3', '5'), ('absent', '158', '3', '14'), ('present', '128', '4', '5'), ('absent', '2', '5', '1'), ('absent', '1', '4', '15'), ('absent', '1', '2', '16'), ('absent', '61', '2', '17'), ('absent', '37', '3', '16'), ('absent', '113', '2', '16'), ('present', '59', '6', '12'), ('present', '82', '5', '14'), ('absent', '148', '3', '16'), ('absent', '18', '5', '2'), ('absent', '1', '4', '12'), ('absent', '168', '3', '18'), ('absent', '1', '3', '16'), ('absent', '78', '6', '15'), ('absent', '175', '5', '13'), ('absent', '80', '5', '16'), ('absent', '27', '4', '9'), ('absent', '22', '2', '16'), ('present', '105', '6', '5'), ('present', '96', '3', '12'), ('absent', '131', '2', '3'), ('present', '15', '7', '2'), ('absent', '9', '5', '13'), ('absent', '8', '3', '6'), ('absent', '100', '3', '14'), ('absent', '4', '3', '16'), ('absent', '151', '2', '16'), ('absent', '31', '3', '16'), ('absent', '125', '2', '11'), ('absent', '130', '5', '13'), ('absent', '112', '3', '16'), ('absent', '140', '5', '11'), ('absent', '93', '3', '16'), ('absent', '1', '3', '9'), ('present', '52', '5', '6'), ('absent', '20', '6', '9'), ('present', '91', '5', '12'), ('present', '73', '5', '1'), ('absent', '35', '3', '13'), ('absent', '143', '9', '3'), ('absent', '61', '4', '1'), ('absent', '97', '3', '16'), ('present', '139', '3', '10'), ('absent', '136', '4', '15'), ('absent', '131', '5', '13'), ('present', '121', '3', '3'), ('absent', '177', '2', '14'), ('absent', '68', '5', '10'), ('absent', '9', '2', '17'), ('present', '139', '10', '6'), ('absent', '2', '2', '17'), ('absent', '140', '4', '15'), ('absent', '72', '5', '15'), ('absent', '2', '3', '13'), ('present', '120', '5', '8'), ('absent', '51', '7', '9'), ('absent', '102', '3', '13'), ('present', '130', '4', '1'), ('present', '114', '7', '8'), ('absent', '81', '4', '1'), ('absent', '118', '3', '16'), ('absent', '118', '4', '16'), ('absent', '17', '4', '10'), ('absent', '195', '2', '17'), ('absent', '159', '4', '13'), ('absent', '18', '4', '11'), ('absent', '15', '5', '16'), ('absent', '158', '5', '14'), ('absent', '127', '4', '12'), ('absent', '87', '4', '16'), ('absent', '206', '4', '10'), ('absent', '11', '3', '15'), ('absent', '178', '4', '15'), ('present', '157', '3', '13'), ('absent', '26', '7', '13'), ('absent', '120', '2', '13'), ('present', '42', '7', '6'), ('absent', '36', '4', '13')]

In [80]:
df1 = pd.DataFrame(checkDb("kyphosisNew"))

[('absent', '71', '3', '5'), ('absent', '158', '3', '14'), ('present', '128', '4', '5'), ('absent', '2', '5', '1'), ('absent', '1', '4', '15'), ('absent', '1', '2', '16'), ('absent', '61', '2', '17'), ('absent', '37', '3', '16'), ('absent', '113', '2', '16'), ('present', '59', '6', '12'), ('present', '82', '5', '14'), ('absent', '148', '3', '16'), ('absent', '18', '5', '2'), ('absent', '1', '4', '12'), ('absent', '168', '3', '18'), ('absent', '1', '3', '16'), ('absent', '78', '6', '15'), ('absent', '175', '5', '13'), ('absent', '80', '5', '16'), ('absent', '27', '4', '9'), ('absent', '22', '2', '16'), ('present', '105', '6', '5'), ('present', '96', '3', '12'), ('absent', '131', '2', '3'), ('present', '15', '7', '2'), ('absent', '9', '5', '13'), ('absent', '8', '3', '6'), ('absent', '100', '3', '14'), ('absent', '4', '3', '16'), ('absent', '151', '2', '16'), ('absent', '31', '3', '16'), ('absent', '125', '2', '11'), ('absent', '130', '5', '13'), ('absent', '112', '3', '16'), ('absent', '140', '5', '11'), ('absent', '93', '3', '16'), ('absent', '1', '3', '9'), ('present', '52', '5', '6'), ('absent', '20', '6', '9'), ('present', '91', '5', '12'), ('present', '73', '5', '1'), ('absent', '35', '3', '13'), ('absent', '143', '9', '3'), ('absent', '61', '4', '1'), ('absent', '97', '3', '16'), ('present', '139', '3', '10'), ('absent', '136', '4', '15'), ('absent', '131', '5', '13'), ('present', '121', '3', '3'), ('absent', '177', '2', '14'), ('absent', '68', '5', '10'), ('absent', '9', '2', '17'), ('present', '139', '10', '6'), ('absent', '2', '2', '17'), ('absent', '140', '4', '15'), ('absent', '72', '5', '15'), ('absent', '2', '3', '13'), ('present', '120', '5', '8'), ('absent', '51', '7', '9'), ('absent', '102', '3', '13'), ('present', '130', '4', '1'), ('present', '114', '7', '8'), ('absent', '81', '4', '1'), ('absent', '118', '3', '16'), ('absent', '118', '4', '16'), ('absent', '17', '4', '10'), ('absent', '195', '2', '17'), ('absent', '159', '4', '13'), ('absent', '18', '4', '11'), ('absent', '15', '5', '16'), ('absent', '158', '5', '14'), ('absent', '127', '4', '12'), ('absent', '87', '4', '16'), ('absent', '206', '4', '10'), ('absent', '11', '3', '15'), ('absent', '178', '4', '15'), ('present', '157', '3', '13'), ('absent', '26', '7', '13'), ('absent', '120', '2', '13'), ('present', '42', '7', '6'), ('absent', '36', '4', '13')]

Empty DataFrame
Columns: []
Index: []